.DS_Store
__pycache__
.pytest_cache
.ruff_cache
*.pyc
.hound_cache
.hound_debug
graph_results
config.yaml
htmlcov/
chatbot/.active_project 

*.egg-info/
*.egg

# Poetry
poetry.lock

# IDE
.vscode/

# Database
*.db

# Frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/.env*.local

